<%- include('partials/head'); -%> 

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Error 404!</h1>
            <p>Sorry for inconvinence you can log-in again...</p>
            <p><a class="btn btn-primary btn-lg" href="/login" role="button">Go to login Page</a></p>
        </div>
      </div>
</body>